:root {
  background-color: #eeeeee;
  --clock-bg:url("@/assets/img/zhilang.jpg");
}
h1 {
  padding:0;
  margin: 0;
}
.box_shadow_custom {
  border-radius: 10px;
  background: linear-gradient(145deg, #f4f4f4, #fff);
  box-shadow: 7px 7px 5px #dfdede, -7px -7px 5px #ffffff;
}